<main>
  <header class="container">
    <app-cart-header [itemnumber]="itemnumber"></app-cart-header>
  </header>
  <section class="container">
    <app-cart-body
      [products]="products"
      (onClickRemoveProduct)="HandleClickRemoveProduct($event)"
      (onChangeQuantity)="HandleChangeQuantity($event)"
    ></app-cart-body>
  </section>
  <section class="container">
    <app-cart-footer
      [subtotal]="subtotal"
      [tax]="tax"
      [total]="total"
      (onApplyPromoCode)="HandleOnApplyPromoCode($event)"
    ></app-cart-footer>
  </section>
</main>
